body{
    margin: 0;
}

/*This is the mobile view stylesheet*/

.main-content{
    display: flex;
    flex-direction: column;
}

.main-section{
    height: 100vh;
    width: 100%;
}

.italy-background{
position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("./images/dinner-background.jpg");
    background-size: cover;
}
.hero-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
}
.hero-menu-nav-ham

.wines{
     background-color: #aaaaaa;
}
.stories {
    background-color: #333333;
}
.social {
    background-color: darkcyan;
}
.footer{
    background-color: black;
}