<div class="main-content">

    <div class="boxes">

    </div>

    <div class="main-section hero">
        <div class="background-video">
            <video autoplay loop muted class="main-background-video">
                <!--<source src="https://fpdl.vimeocdn.com/vimeo-prod-skyfire-std-us/01/4162/7/195811681/656716142.mp4?token=1499403266-0x9d04bc4ab735b3d2c738f639bec7eee6bca74bae">-->
            </video>
        </div>
    </div>
    <div class="main-section wines"></div>
    <div class="main-section stories"></div>
    <div class="main-section cecchi"></div>
    <div class="main-section social"></div>
    <div class="main-section footer"></div>

</div>